.container-nowrap {
    display: flex;
    flex-wrap: nowrap;
    background-color: lightgray;
}

.container-wrap {
    display: flex;
    flex-wrap: wrap;
    background-color: lightgray;
}

.element {
    background-color: red;
    color: white;
    margin: 10px;
    font-size: 48;
    padding: 10px;
    width: 30%;
}