.container-start {
    display: flex;
    background-color: lightgray;
    justify-content: flex-start;
}

.container-end {
    display: flex;
    justify-content: flex-end;
    background-color: lightgray;
}

.container-center {
    justify-content: center;
    display: flex;
    background-color: lightgray;
}

.container-space-between {
    justify-content: space-between;
    display: flex;
    background-color: lightgray;
}

.container-space-around {
    justify-content: space-around;
    display: flex;
    background-color: lightgray;
}

.element {
    background-color: red;
    color: white;
    margin: 10px;
    font-size: 48;
    padding: 10px;
}